<% layout('/layouts/boilerplate') %>

<!--  so we hv put it at top now it stores token and at down we can access it -->
<script>
  let mapApi = "<%= process.env.MAP_API_KEY %>"; 
  // everytime loaction rendering will take much time
  let listing = <%- JSON.stringify(listing) %>;  // takes only string
</script>

<div class="container mt-4">
  <h2 class="fw-semibold mt-3 text-center"><%= listing.title %></h3>
  <div class="listing-image mb-4 d-flex justify-content-center">
    <img src="<%= listing.image.url %>" class="img-fluid rounded-4 shadow-sm" alt="image">
  </div>
  <div class="row">
    <div class="col-lg-7 col-md-12">
      <div class="p-3">
          <!-- Left Info Card -->
          <div class="info-card">
            <h4>Rental Unit in <%= listing.location %></h4>
            <ul>
              <li>2 guests</li>
              <li>1 bedroom</li>
              <li>1 bed</li>
              <li>1 bathroom</li>
            </ul>
            <hr>
            <p class="host">Hosted by <%= listing.owner.username %> • Superhost</p>
            <hr>
            <div class="desc">
              <%= listing.description %>
            </div>
          </div>
          
          <% if(user && user._id.equals(listing.owner._id)) { %>
            <div class="d-flex mt-4">
              <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark show-edit col-1 offset-3">Edit</a>
              <form action="/listings/<%= listing._id%>?_method=DELETE" method="post">
                <button class="btn btn-danger offset-6">Delete</button>
              </form>
            </div> 
          <% } %>
        </div>

        <!-- Review form -->
        <!-- if the user exists i.e its login  -->
      <div class="mt-5">
        <% if(user) { %>
          <h4 class="text-center mb-4 fw-semibold">Leave a Review</h4>
          <form action="/listings/<%= listing._id %>/reviews" method="post" class="needs-validation mt-3" novalidate>
            <!-- rating to be displayed in star form -->
            <label for="rating" class="form-label">Rate: </label>
            <fieldset class="starability-slot">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>

            <label for="comment" class="form-label fw-semibold">Enter Comment: </label>
            <textarea id="comment" class="form-control rounded-3" name="review[comment]" cols="20" rows="5" required></textarea>
            <div class="invalid-feedback">Please add some comments for review</div>  
            <div class="text-center"><button class="btn btn-dark px-4 py-2 rounded-3 fw-semibold mt-2">Save</button></div>
          </form>
        <% } %>
      </div>
  </div>

    <!-- booking card -->
    <div class="col-lg-4 col-md-12 offset-lg-1">
      <div class="card shadow-sm rounded-4 booking-card">
        <div class="card-body text-center">
          <h4 class="fw-bold">  &#8377; <%= listing.price.toLocaleString('en-IN') %>/night</h5>
          <form action="/listings/<%= listing._id %>/booking/payment" novalidate class="needs-validation mt-3">         
            <input name="checkin" id="check-in" type="text" class="form-control mb-4" placeholder="check-in" required>
            <div class="invalid-feedback">Choose valid check-in date</div>
            <input type="text" name="checkout" placeholder="checkout" class="form-control mb-4" id="checkout" required>
            <div class="invalid-feedback">Choose valid checkout date</div>
        
            <button class="btn btn-danger w-75 mt-2 py-3"><b>Reserve</b></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- display all reviews -->
    <% if(listing.review.length > 0) { %>
      <div class="mt-4 d-flex justify-content-center w-75 mx-auto">
        <div class="col-12">
          <p class="card-header mb-3 text-center fw-bold"><b>All Reviews</b></p>
          <div class="row">
            <% for(review of listing.review) { %> 
              <div class="col-md-6 mb-3">
                <div class="card rounded-4 shadow-sm h-100">
                  <div class="card-body ">
                    <h5>@<%= review.author.username %></h5>
                    <!-- statically display -->
                    <p class="starability-result card-text mb-1" data-rating="<%= review.rating %>"> Rated: 3 stars</p>   
                    <p><%= review.comment %> </p>        
                  
                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE " method="post">
                      <button class="btn btn-sm btn-dark mt-2 mb-3">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            <% } %> 
          </div>
        </div>
      </div>
      <hr>
    <% } %>  

  <!-- display map -->
  <div class="col-6 offset-3 mt-5 mb-4">
    <h3>Where you'll be</h3>
    <div id="map"></div>  
  </div>


<!-- now it has token we can use it in map.js file -->
<script src="/js/map.js"></script>
<script> window.disableDates = <%- JSON.stringify(disableDates) %>;</script>

