<% layout('/layouts/boilerplate') %>

<!--  so we hv put it at top now it stores token and at down we can access it -->
<script>
  let mapApi = "<%= process.env.MAP_API_KEY %>";
  // let locationName = "<%= listing.location %>" no need bcoz we need to store the cordinates 
  // everytime loaction rendering will take much time
  let listing = <%- JSON.stringify(listing) %>;  // takes only string
</script>

<div class="row">
  <div class="col-6 offset-3 mt-3">
    <h3 class="mt-3"><%= listing.title %></h3>
    <div class="card listing-card">
      <img src="<%= listing.image.url %>" class="card-img-top css-show-img" alt="image">
      <div class="card-body">
        <p class="card-text">
          <% if (listing.owner && listing.owner.username) { %>
            <b><i>Owned by: <%= listing.owner.username %></i></b> <br>
          <% } else { %>
            <b><i>Owner: Not Available</i></b> <br> 
          <% } %>
          <%= listing.description %> <br>
          <!-- conevrt it into indian rupee -> toLocaleString -->
          &#8377; <%= listing.price.toLocaleString('en-IN') %> <br>
          <%= listing.location %> <br>
          Country: <%= listing.country %>
        </p>
      </div>
    </div>
  </div>
  
  <!-- we hv not used the btn here bcoz for that we need to use form and on action this link will be given 
   but we use form when we need to submit smtg not just for redirecting to a page-->

  <!-- if the user who created listing and the owner who modify listing are same thenn only theses btn are visible -->
  <% if(user && user._id.equals(listing.owner._id)) { %>
    <!-- done in more proper way (update route) -->
    <div class="d-flex mb-3">
      <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark show-edit col-1 offset-3">Edit</a>
      <form action="/listings/<%= listing._id%>?_method=DELETE" method="post">
        <button class="btn btn-danger offset-6">Delete</button>
      </form>
    </div> 
    <% } %>

  <!-- Review form -->
  <div class="col-6 offset-3 mt-2"> <hr>
    <!-- if the user exists i.e its login  -->
    <% if(user) { %>
      <h4>Leave a Review</h4>
      <form action="/listings/<%= listing._id %>/reviews" method="post" class="needs-validation" novalidate>
        <!-- <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rate: </label>
          <input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]">
        </div> -->

        <!-- rating to be displayed in star form -->
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rate: </label>
          <fieldset class="starability-slot">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>

        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Enter Comment: </label>
          <textarea id="comment" class="form-control" name="review[comment]" cols="20" rows="5" required></textarea>
          <div class="invalid-feedback">Please add some comments for review</div>
        </div>
        <button class="btn btn-outline-dark mb-3">Save</button>
      </form>
    <% } %>

    <!-- display all reviews -->
    
    <% if(listing.review.length > 0) { %>
      <div class="row">
        <p class="card-header mb-2 ms-3"><b>All Reviews</b></p>
        <% for(review of listing.review) { %> 
          <div class="card mt-2 mb-3 ms-3 col-5">
            <div class="card-body ">
              <h5 class="card-title">@<%= review.author.username %></h5>
              <!-- statically display -->
              <p class="starability-result card-text" data-rating="<%= review.rating %>"> Rated: 3 stars</p>   
              <p class="card-text mt-2"><%= review.comment %> </p>        
            </div>
            <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE " method="post">
              <button class="btn btn-sm btn-dark mt-2 mb-3">Delete</button>
            </form>
          </div>
        <% } %> 
      </div>
      <hr>
    <% } %>  
  </div>

  <!-- booking card -->
  <div class="card text-center" style="width: 20rem; height: 14rem;">
    <div class="card-body">
      <h5 class="card-title">  &#8377; <%= listing.price.toLocaleString('en-IN') %>/night</h5>
      <form action="/listings/<%= listing._id %>/booking" novalidate class="needs-validation">
        <div class="border p-2">
          <input name="checkin" id="check-in" type="text" class="form-control" placeholder="check-in" required>
          <div class="invalid-feedback">Choose valid check-in date</div>
          <input type="text" name="checkout" placeholder="checkout" class="form-control" id="checkout" required>
          <div class="invalid-feedback">Choose valid checkout date</div> <br>
        </div>
        <button>Reserve</button>
      </form>
    </div>
  </div>
  
  <!-- display map -->
  <div class="col-6 offset-3 mt-2 mb-3">
    <h3>Where you'll be</h3>
    <div id="map"></div>  
  </div>
</div>

<!-- now it has token we can use it in map.js file -->
<script src="/js/map.js"></script>
<script> window.disableDates = <%- JSON.stringify(disableDates) %>;</script>

